
  <form action="/create">
    
    Left <input type="number" name="left">
    
    Up <input type="number" name="up">
    
    Right <input type="number" name="right">
    
    Down <input type="number" name="down">

    <input type="submit" value="plot">
    
</form>

<p>
</p>

<!-- 
<div class="grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> 
</div>
-->

<div class="canvas">
  
  {{#each segments}}
  
    <div class="segment color-{{color}}" data-submission-id="{{id}}" style="top:{{top}}px; left:{{left}}px; width:{{width}}px; height:{{height}}px;"></div>
  
  {{/each}}
  
</div>

<div class="remaining">
  {{remaining}}
</div>

<div class="log">
  {{#each submissions}}
    <div class="submission" data-submission-id="{{id}}" title="{{created}}">
      {{left}}.{{up}}.{{right}}.{{down}}
    </div>
  {{/each}}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  
  // When you roll over a log entry, highlight the corresponding segments
  $('.log .submission').on('mouseover', function() {
    var submission_id = $(this).data('submission-id');
    $(this).addClass('hover');
    $(".segment[data-submission-id='" + submission_id + "']").addClass('hover');
  });
  $('.log .submission').on('mouseout', function() {
    var submission_id = $(this).data('submission-id');
    $(this).removeClass('hover');
    $(".segment[data-submission-id='" + submission_id + "']").removeClass('hover');
  });
  
  // When you roll over a segment, highlight the corresponding log entry
  $('.segment').on('mouseover', function() {
    var submission_id = $(this).data('submission-id');
    $(this).addClass('hover');
    $(".log .submission[data-submission-id='" + submission_id + "']").addClass('hover');
  });
  $('.segment').on('mouseout', function() {
    var submission_id = $(this).data('submission-id');
    $(this).removeClass('hover');
    $(".log .submission[data-submission-id='" + submission_id + "']").removeClass('hover');
  });
  
</script>